.timer-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .window {
        width: 300;

        .window-body {
            padding-top: 5px;
        }

        .window-button-wrapper {
            padding-top: 10px;
            display: flex;
            justify-content: flex-end;
        }
    }
}
